/* .card-img.active:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0; 0; 0; 0.5);
    pointer-events: none;
    transition: background-color 2s ease-in-out;
} */

.card-img.active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    pointer-events: none;
    animation: fade 0.5s ease-out forwards;
    opacity: 0;
}

.btn-learn {
    opacity: 0;
}

.btn-learn.active {
    opacity: 1;
    position: absolute;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 0 12px;
    border-radius: 50px;
    background-color: white;
    transition: all 0.2s;
    animation: goUp 0.5s ease-out forwards;
}

.btn-learn.unactive{
    opacity: 0;
    position: absolute;
    color: #000;
    font-size: 20px;
    font-weight: 600;
    padding: 0 12px;
    border-radius: 50px;
    background-color: white;
    transition: all 0.2s;
    animation: goDown 0.5s ease-out forwards;
}

.btn-learn:hover {
    color: #000;
    background-color: white;
}



@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes goUp {
    0% {
        top: 100%;
        left: 50%;
        transform: translate(-50% 100%);
    }

    100% {
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
    }
}

@keyframes goDown{
    
    0%{
        top: 50%;
        left: 50%;
        transform: translate(-50% -50%);
    }
    50% {
        top: 100%;
        left: 50%;
        transform: translate(-50% 100%);
    }
    100%{
        display: none;
    }
}